name: ruff

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
    types: [ opened, synchronize, reopened ]

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Ruff
        run: uvx ruff check --output-format=github .
